name: Pull Request to Develop Branch

on: 
  pull_request:
    branches:
      - develop

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout a Branch
        uses: actions/checkout@v3
      
      - name: Use Node 21
        uses: actions/setup-node@v3
        with:
          node-version: 21.x
      
      - name: Install Dependencies
        run: npm install

      - name: Run Cypress Tests
        run: npm run test-component